@keyframes open-nav {
  0% {
    border-radius: 50%;
    -webkit-transform: scale(1);
    transform: scale(1);
    bottom: -60%;
    right: -60%;
    position: absolute;
  }
  100% {
    -webkit-transform: scale(12);
    transform: scale(12);
  }
}

@keyframes close-nav {
  0% {
    -webkit-transform: scale(12);
    transform: scale(12);
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(1);
    transform: scale(1);
    bottom: -60%;
    right: -60%;
    position: absolute;
  }
}

@keyframes menu-fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opactity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-110%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(110%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-down {
  from {
    opacity: 0.1;
    transform: translateY(-90%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-up-blog {
  from {
    opacity: 0.1;
    transform: translateY(70%);
  }
  to {
    opacity: 1;
    transform: translateY(0%)
  }
}

@keyframes zoom-in {
  from {
    transform: scale(.6);
  }
  to {
    transform: scale(1);
  }
}