// Overall App Stylesheet

// === Import local SASS files ===
@import "./mixins";
@import "./variables";
@import "./keyframes";

// === Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

// HTML BODY RESET
html {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  &.contact-page {
    color: #fff;
    background-color: #000;
  }
}
img {
  max-width: 100%;
}

// reset ul
ul {
  margin: 0;
  padding: 0;
}

// Fonts
h1 {
  @include font-size(2);

  @include tablet {
    @include font-size(2.5);
  }

  @include desktop {
    @include font-size(4);
  }
}

@include tablet {
  p {
    @include font-size(1.25);
  }
}
// unset link decorations
a {
  text-decoration: unset;
  color: unset;
}

.content-width {
  box-sizing: border-box;
  @include desktop {
    @include center-block;
    width: 90%;
    max-width: 1180px;
  } 
}

// Header
header {
  position: fixed;
  z-index: 1000;
  height: 55px;
  width: 100%;
  img.angel-logo {
    width: 95px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

// Darkmode
div.dark-holder {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 60px;
  div.light-dark-btn {
    margin: 0;
    width: unset;
    font-size: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    &.light {
      fill: #fff;
    }
    &.dark {
      fill: #000;
    }
  }
}
// Button Menu Styling
div.button-wrapper {
  cursor: pointer;
  background-color: #e6339a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  div.burger-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative;
    div.burger-bar {
      opacity: 1;
      width: 40px;
      height: 6px;
      background-color: white;
      z-index: 31; // +1 of backdrop
      transition: all 0.3s ease;
    }
    div.burger-bar:first-child,
    div.burger-bar:last-child {
      position: absolute;
    }
    div.burger-bar:first-child {
      top: 21px;
    }
    div.burger-bar:last-child {
      bottom: 21px;
    }
  }
  nav.nav-menu {
    display: none;
  }
  // styling for open menu
  &.open {
    // @include flex-center;
    div.burger-wrapper div.burger-bar:nth-child(2) {
      opacity: 0;
    }
    div.burger-wrapper div.burger-bar:first-child {
      top: 32px;
      transform: rotate(45deg);
    }
    div.burger-wrapper div.burger-bar:last-child {
      bottom: 32px;
      transform: rotate(-45deg);
    }
    .menu-backdrop {
      position: absolute;
      z-index: 30;
      border-radius: 50%;
      background-color: #e6339a;
      bottom: 10px;
      right: 0px;
      transform: scale(11);
      width: 400%;
      height: 400%;
      animation: open-nav 0.3s ease-in-out;
    }
    nav.nav-menu {
      z-index: 31; //sit above backdrop
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      text-align: left;
      position: fixed;
      top: 20px;
      left: 50%;
      margin-left: -25%;
      height: 80%;
      overflow: hidden;

      ul.nav-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 10px 0;
          font-size: 1.5rem;
          font-weight: 700;
          height: 35px;
          animation: menu-fade-in 0.4s ease-in-out;
          .nav-menu-item {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

div.layout > div.text-container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  h1 {
    @include font-size(2.5);
    &,
    .copy {
      max-width: 80%;
    }
  }
}

//====== Hero Element ====== //
.hero {
  min-height: 150px;
  height: 240px;
  width: 100%;
  padding: 0;
  z-index: 2;
  svg#zigzag-hero {
    z-index: -1;
    background-attachment: fixed;
    right: 0;
    top: 0;
    position: absolute;
    width: 120%;
    max-width: 1500px;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% -20px;
  }
  svg.hero-circle {
    z-index: -1;
    background-attachment: fixed;
    right: 0;
    top: 0;
    position: absolute;
    width: 140%;
    max-width: 1100px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
  }
  .hero-zigzag,
  .hero-circle {
    fill: #fff;
  }
  @include tablet {
    height: 400px;
    svg.hero-zigzag {
      background-position: 100% -50px;
    }
    svg.hero-circle {
      background-position: 100% 100%;
    }
  }
  @include desktop {
    height: 500px;
    svg {
      width: 100%;
      background-size: 70%;
      background-position: 100% -80px;
    }
  }
}

.hero-content {
  z-index: 5;
  position: relative;
  width: 90%;
  @include center-block;
  p.copy {
    max-width: 750px;
    margin-left: 0;
  }
  @include desktop {
    h1 {
      max-width: 750px;
      @include font-size(3.4);
    }
  }
  &.what-we-do {
    @include tablet {
      max-width: 450px;
      margin-left: 50px;
    }
  }
}

div.clients-container {
  padding: 20px 0 30px;
  margin: 30px 0;
  @include flex-center;
  flex-flow: row wrap;
  @include center-block;
  @include tablet {
    margin: 40px auto;
  }
  @include desktop {
    margin: 60px auto;
  }
  .client {
    width: 27%;
    height: 75px;
    margin: 10px;
    @include tablet {
      width: 20%;
    }
    @include desktop {
      width: 14%;
    }
  }
}

// Contact Page
div.contact-container {
  width: 90%;
  @include center-block;
  margin-top: 90px;
  max-width: 1180px;

  .pink {
    color: $color__pink;
  }
}
a.map-wrapper {
  @include flex-center;
  margin: 60px 0px 80px -35%;
  overflow: hidden;
  img.map {
    max-width: unset;
    width: 180%;
  }
}

// Angel In Action - Single Page
div.quote-box {
  padding: 15px 0px;
  width: 90%;
  @include center-block;
  max-width: 1180px;
  position: relative;
  h2.quote {
    text-align: left;
    @include font-size(1.2);
  }
  &:before,
  &:after {
    display: block;
    z-index: 10;
    content: "";
    background-image: url("../../static/quotes.svg"); // add quotes svg here
    position: absolute;
    width: 65px;
    height: 65px;
  }
  &:before {
    top: 0;
    transform: scaleX(-1);
  }
  &:after {
    bottom: 0;
    right: 5%;
    transform: scaleX(1) rotate(180deg);
  }
}
div.project-container {
  div.project-video {
    max-width: 750px;
    @include flex-center;
    flex-flow: column nowrap;
    @include center-block;

    video.silent-video {
      max-width: 750px;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}

// ====== COMPONENTS ====== //
div.hero-container {
  width: 100%;
  position: relative;
  height: 450px;
  @include tablet {
    width: 100%;
    height: 100vh;
  }
  @include flex-center;
  video {
    max-width: 100%;
    object-fit: cover;
    height: inherit;
    @include desktop {
      width: 100vw;
    }
  }
  div.text-container {
    position: absolute;
    clear: both;
    @include flex-center-col-nowrap;
    top: 0;
    width: 90%;
    height: inherit;
    // margin-top: -50px;
    img.hero-svg {
      max-width: 450px;
      height: auto;
      border: 0;
      @include tablet {
        max-width: 500px;
      }
    }
    h1.small-text-lower {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      z-index: 10;
      max-width: calc(450px - 10%);
      text-align: center;
      letter-spacing: 3px;
      margin: 20px auto 0;
      color: #fff;
      @include font-size(1);
      @include tablet {
        max-width: 550px;
        @include font-size(1.4);
      }
    }
  }
}

div.work-component {
  padding: 30px 0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  img {
    display: flex;
    margin-left: auto;
    margin-top: 5px;
  }
  @include tablet {
    p {
      max-width: 550px;
    }
  }
  @include desktop {
    h1 {
      max-width: 1000px;
    }
    p {
      max-width: 400px;
    }
    img {
      margin-top: -160px;
    }
  }
}

div.angel-in-action {
  margin-top: 30px;
  @include flex-center-col-nowrap;
  text-align: center;
  div.text-container {
    width: 90%;
    @include center-block;
    padding: 30px 0;
    @include desktop {
      p {
        max-width: 550px;
        @include center-block;
      }
    }
  }

  div.showreel-container {
    margin: 20px auto 40px;
    width: 100%;
    @include flex-center;
    flex-flow: row wrap;
    @include desktop {
      flex-flow: row nowrap;
    }
    .showreel-link {
      width: 100%;
      height: 250px;
      margin: 5px;
      color: #fff;
      text-decoration: none;
      opacity: 0;
      transform: translateX(0%);

      @include tablet {
        width: 45%;
        height: 300px;
      }

      @include desktop {
        height: 525px;
      }
      &:nth-of-type(2n) {
        transform: translateX(0%);
      }
      &.fade-in-mobile {
        animation: fade-in-left 0.6s 1;
        animation-fill-mode: forwards;
      }
      &.fade-in-mobile:nth-of-type(2n) {
        animation: fade-in-right 0.6s 1;
        animation-fill-mode: forwards;
      }
    }

    .showreel-wrapper {
      width: 100%;
      height: inherit;
      background-size: cover;
      background-position: 50%;
      position: relative;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      h2 {
        position: absolute;
        bottom: 0;
        left: 5%;
        opacity: 1;
        width: 70%;
        font-size: 1.25rem;
        text-align: left;
        @include tablet {
          @include font-size(1.75);
        }
      }
    }
  }
}

div.story-container {
  @include center-block;
  width: 90%;
  margin-top: 100px;
  @include flex-center-col-nowrap;
  img {
    z-index: 2;
    @include tablet {
      height: 550px;
      max-width: 700px;
    }
  }

  div.text-container {
    text-align: center;
    opacity: 0;
    z-index: 1;
    max-width: 750px;
    @include center-block;
    @include tablet {
      p {
        max-width: 550px;
        @include center-block;
      }
    }
    @include desktop {
      p {
        margin-left: unset;
        margin-right: auto;
      }
    }
    &.fade-down {
      animation: fade-down 0.5s ease-in-out;
      animation-fill-mode: forwards;
      @include desktop {
        animation: fade-in-left 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }
  @include desktop {
    flex-direction: row;
    img {
      max-width: 400px;
      margin-left: 50px;
      height: 600px;
    }
    div.text-container {
      width: 50%;
      text-align: left;
      padding-left: 20px;
      div.link-button {
        margin-left: unset;
      }
    }
  }
}

div.what-we-do-container {
  @include center-block;
  width: 90%;
  margin-bottom: 40px;
  padding: 30px 0;
  text-align: center;
  @include tablet {
    p {
      max-width: 400px;
      @include center-block;
    }
  }
}

div.grey-container {
  background-color: #eee;
  color: #000;
  position: relative;
  @include flex-center-col-nowrap;
  padding: 40px 10%;
  margin: 40px 0;
  width: 80%;
  h3 {
    margin: 0;
    max-width: 950px;
    @include tablet {
      @include font-size(1.8);
    }
  }
  @include desktop {
    margin: 60px auto;
    padding: 60px;
    h3 {
      @include font-size(2.2);
    }
  }
}

div.blog-list-section {
  width: 90%;
  @include center-block;
}
// Blog List Components
div.blog-list-wrapper {
  @include flex-center-col-nowrap;
  @include tablet {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  a {
    height: 100%;
    width: 90%;
    opacity: 0;
    &.fade-up {
      animation: fade-up-blog 0.5s 1 cubic-bezier(0.46, 0.03, 0.52, 0.96);
      animation-fill-mode: forwards;
    }
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 30%;
    }
    .insight-wrapper {
      height: auto;
      width: 90%;
      margin: 30px auto;
      &.blog-post {
        .insight-title {
          margin-top: 0;
        }
      }
      h3.insight-type {
        text-transform: capitalize;
        color: #000;
        @include font-size(1.75);
        margin: 0;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 10px 0;
      }
      div.text-container {
        padding: 10px 0;
        p.blog-content {
          font-weight: 400;
          @include font-size(1.2);
        }
        span {
          color: $color__pink;
          &.byline {
            display: inline;
          }
        }
        span.posted-on {
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}

.pdf-blog-hero {
  padding: 30px 0;
  position: relative;
  @include flex-center;
  @include center-block;
  width: 90%;
  text-align: center;
  h1 {
    max-width: 500px;
    margin: 35px auto;
  }
}

.share-container {
  font-weight: 700;
  @include center-block;
  width: 90%;
  padding: 30px 0;
  max-width: 1180px;
  @include font-size(1.25);
  h1.share-title {
    margin-right: 10px;
    margin: 0;
  }
  button {
    margin: 5px 10px 5px 0px;
    color: $color__pink !important;
  }
}

div.blog-content-wrapper {
  width: 90%;
  @include center-block;
  @include flex-center-col-nowrap;
  a {
    color: $color__pink;
    font-weight: 700;
    cursor: pointer;
  }
  ol,
  ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    list-style: none;
    li {
      padding: 5px;
      counter-increment: a;
      &:before {
        content: counter(a) ". ";
        color: $color__pink;
        display: inline-block;
        font-weight: 700;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
      }
      // Remove numerics from lists within lists
      & ul li:before {
        counter-reset: unset;
        content: "";
      }
    }
  }
}
// ===== UI COMPONENTS ===== //
div.link-button {
  @include center-block;
  width: 175px;
  height: 45px;
  @include flex-center;
  background: $color__pink;
  border-radius: 25px;
  &.blue {
    background: $color__blue;
    .link {
      color: #000;
    }
  }
  .link {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
}

div.lets-talk {
  background-color: $color__pink;
  color: #fff;
  text-align: center;
  padding: 50px 10px 10px;
  h1.big-font {
    max-width: 450px;
    margin: 0 auto;
    a {
      color: #000;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

div.title-wrapper {
  width: 90%;
  @include center-block;
  max-width: 850px;
  text-align: center;
  h1.title {
  }
}

div.team-grid {
  @include flex-center-col-nowrap;
  @include center-block;
  max-width: 1180px;
  @include tablet {
    flex-flow: row wrap;
    align-items: flex-start;
  }
  div.team-wrapper {
    @include flex-center-col-nowrap;
    max-width: 350px;
    width: 80%;
    margin: 10px;
    @include tablet {
      width: 43%;
      margin: 30px 20px;
    }
    @include desktop {
      width: 29%;
    }
    img.employee {
      margin: 0;
      min-width: 280px;
      min-height: 280px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 5;
    }
    div.text-container {
      margin-top: 20px;
      text-align: left;
      width: 100%;
      opacity: 0;
      &.fade-down {
        animation: fade-down 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }
      h2.team-title {
        margin: 0;
        @include font-size(1.25);
      }
      p {
        @include font-size(1);
      }
    }
  }
}

div.method-wrapper {
  width: 90%;
  padding-top: 30px;
  @include center-block;
  max-width: 1180px;
  div.method-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    @include tablet {
      flex-flow: row nowrap;
    }
    h2 {
      @include font-size(2.2);
      z-index: 2;
      width: 100%;
      @include tablet {
        width: 40%;
      }
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      @include tablet {
        width: 60%;
      }
      li {
        padding: 10px 0;
        @include font-size(1.2);
        font-weight: 700;
        opacity: 0;
        &.fade-in {
          animation: fade-in-left .5s 1;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

div.action-wrapper {
  padding: 30px 0;
  width: 100%;
  @include center-block;
  max-width: 1400px;

  div.action-container {
    margin: 50px 0;
    @include flex-center-col-nowrap;

    img.action-image {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
    div.text-container {
      padding: 10px 0;
      text-align: center;
      width: 90%;
      h3.action-title {
        @include font-size(2);
        &,
        p {
          margin: 20px 0;
        }
      }
    }
  }
}

div.backdrop {
  overflow: scroll;

  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

div.modal {
  height: calc(100vh - 10%);
  position: fixed;
  z-index: 10;
  background-color: $color__pink;
  width: 90%;
  @include center-block;
  box-shadow: 0px 1px 8px 0px #000;
  padding: 20px 10px 30px;
  left: 5%;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  overflow: scroll;
}

form.pdf-form {
  max-width: 350px;
  @include center-block;
  color: white;
  img.form-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
  }
  p.form-copy {
    @include center-block;
    max-width: 400px;
    width: 80%;
    text-align: center;
  }

  .cb-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 35px;
    margin: 12px auto 24px 0;
    font-size: 0.7rem;
    height: 25px;
    color: #fff;

    &:hover input ~ .checkmark {
      background-color: #fff;
    }
    & input:checked ~ .checkmark {
      background-color: $color__blue;
    }

    & input:checked ~ .checkmark:after {
      display: block;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    span.checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #fff;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #3b3b3b;
        border-width: 0 3px 3px 0;
        -webit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  p.small-copy {
    font-size: 0.7rem;
  }
}

// Inputs
.input-group {
  position: relative;
  margin: 20px 0;
  width: 100%;

  input,
  textarea {
    &::placeholder {
      display: none !important;
    }
    background: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: -webkit-fill-available;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;

    &:focus {
      outline: none;
    }
    &:focus:not([type="checkbox"]) ~ .form-input-label {
      top: -14px;
      font-size: 12px;
      color: #fff;
    }
  }

  label {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    &.shrink {
      top: -14px;
      font-size: 12px;
    }
  }
}

// ====== Footer ======= //

footer.site-footer {
  background-color: $color__pink;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  .footer-container {
    padding: 40px 20px;
  }
  p {
    margin: 3px 0;
  }
  a {
    padding: 8px 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
  }
  div.info-container {
    div.about-us,
    div.contact-us,
    div.policy-links {
      @include flex-center-col-nowrap;
      margin: 20px auto;
      p.header {
        font-weight: 700;
        margin-bottom: 10px;
        @include font-size(1.1);
      }
    }
    @include tablet {
      display: flex;
      align-items: baseline;
      flex-flow: row wrap;
      div.about-us,
      div.contact-us,
      div.policy-links {
        align-items: flex-start;
      }
    }
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
    order: 1;
    margin: 0 auto 20px;
    a {
      font-size: 30px;
    }
  }
  .about-us {
    order: 2;
  }
  .contact-us {
    order: 3;
  }
  div.policy-links {
    order: 4;
  }
}

// Import Darkmode stylesheet
@import "./darkmode";
