// Overall App Stylesheet

// === Import local SASS files ===
@import "./mixins";
@import "./keyframes";
@import "./variables";

// === Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

// HTML BODY RESET
html {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

h1 {
  @include font-size(2);

  @include tablet {
    @include font-size(2.5);
  }

  @include desktop {
    @include font-size(3);
  }
}
// unset link decorations
a {
  text-decoration: unset;
  color: unset;

}
// Button Menu Styling
div.button-wrapper {
  cursor: pointer;
  background-color: #e6339a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  div.burger-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative;
    div.burger-bar {
      opacity: 1;
      width: 40px;
      height: 6px;
      background-color: white;
      z-index: 31; // +1 of backdrop
      transition: all 0.3s ease;
    }
    div.burger-bar:first-child,
    div.burger-bar:last-child {
      position: absolute;
    }
    div.burger-bar:first-child {
      top: 21px;
    }
    div.burger-bar:last-child {
      bottom: 21px;
    }
  }
  // styling for open menu
  &.open {
    // @include flex-center;
    div.burger-wrapper div.burger-bar:nth-child(2) {
      opacity: 0;
    }
    div.burger-wrapper div.burger-bar:first-child {
      top: 32px;
      transform: rotate(45deg);
    }
    div.burger-wrapper div.burger-bar:last-child {
      bottom: 32px;
      transform: rotate(-45deg);
    }
    .menu-backdrop {
      position: absolute;
      z-index: 30;
      border-radius: 50%;
      background-color: #e6339a;
      bottom: 10px;
      right: 0px;
      transform: scale(11);
      width: 400%;
      height: 400%;
      animation: open-nav 0.3s ease-in-out;
    }
    nav.nav-menu {
      z-index: 31; //sit above backdrop
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      text-align: left;
      position: fixed;
      top: 20px;
      left: 50%;
      margin-left: -25%;
      height: 80%;
      overflow: hidden;

      ul.nav-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 10px 0;
          font-size: 1.5rem;
          font-weight: 700;
          height: 35px;
          animation: menu-fade-in 0.4s ease-in-out;
          .nav-menu-item {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

div.layout > div.text-container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  h1 {
    @include font-size(2.5);
    &, .copy {
      max-width: 80%;
    }
  }
}

//====== About Page ====== //
.hero {
  min-height: 150px;
  height: 240px;
  width: 100%;
  padding: 0;
  z-index: 2;
  svg {
    background-attachment: fixed;
    right: 0;
    top: 0;
    position: absolute;
    width: 120%;
    max-width: 1500px;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% -20px;
  }
  .hero-zigzag {
    fill: #fff;
  }
}

.hero-content {
  margin-top: -50px;
  z-index: 5;
  position: relative;
  width: 90%;
  @include center-block;
  max-width: 1180px;
  p.copy {
    max-width: 750px;
    margin-left: 0;
  }
}

div.clients-container {
  padding: 20px 0 30px;
  margin: 30px 0;
  max-width: 1200px;
  @include center-block;
  @include flex-center;
  flex-flow: row wrap;
  .client {
    width: 27%;
    height: 75px;
    margin: 10px;
  }
}

// ====== COMPONENTS ====== //
.hero-container {
  width: 100%;
  position: relative;
  height: 450px;
  @include flex-center;
  video {
    max-width: 100%;
    object-fit: cover;
    height: inherit;
  }
  div.text-container {
    position: absolute;
    clear: both;
    @include flex-center-col-nowrap;
    top: 0;
    width: 90%;
    height: inherit;
    // margin-top: -50px;
    img.hero-svg {
      max-width: 450px;
      height: auto;
      border: 0;
    }
    h1.small-text-lower {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      z-index: 10;
      max-width: calc(450px - 10%);
      text-align: center;
      letter-spacing: 3px;
      margin: 20px auto 0;
      color: #fff;
      font-size: 1rem;
    }
  }
}

div.work-component {
  margin-top: 30px;
  padding: 30px 0;
  width: 90%;
  @include center-block;
}

div.angel-in-action {
  margin-top: 30px;
  @include flex-center-col-nowrap;
  text-align: center;
  div.text-container {
    width: 90%;
    @include center-block;
    padding: 30px 0;
  }

  div.showreel-container {
    margin: 20px auto 40px;
    width: 100%;
    @include flex-center;
    flex-flow: row wrap;
    .showreel-link {
      width: 100%;
      height: 175px;
      margin: 5px;
      color: #fff;
      text-decoration: none;
    }

    .showreel-wrapper {
      width: 100%;
      height: inherit;
      background-size: cover;
      background-position: 50%;
      position: relative;
      overflow: hidden;

      h2 {
        position: absolute;
        bottom: 0;
        left: 5%;
        opacity: 1;
        width: 70%;
        font-size: 1.25rem;
        text-align: left;
      }
    }
  }
}

div.story-container {
  @include center-block;
  width: 90%;
  margin-top: 100px;

  div.text-container {
    text-align: center;
  }
}

div.what-we-do-container {
  @include center-block;
  width: 90%;
  margin-bottom: 40px;
  padding: 30px 0;
  text-align: center;
}

div.grey-container {
  background-color: #eee;
  color: #000;
  position: relative;
  @include flex-center-col-nowrap;
  padding: 40px 10%;
  margin: 40px 0;
  h3 {
    margin: 0;
    max-width: 950px;
  }
}

// Blog List Components
.insight-wrapper {
  height: auto;
  width: 90%;
  margin: 30px auto;
  &.blog-post {
    .insight-title {
      margin-top: 0;
    }
  }
  h3.insight-type {
    text-transform: capitalize;
    color: #000;
    @include font-size(1.75);
    margin: 0;
  }
  img {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px 0;
  }
  div.text-container {
    padding: 10px 0;
    p.blog-content {
      font-weight: 400;
      @include font-size(1.2);
    }
    span {
      color: $color__pink;
      &.byline {
        display: inline;
      }
    }
    span.posted-on {
      display: block;
      margin-top: 20px;
    }
  }
}

.pdf-blog-hero {
  padding: 30px 0;
  position: relative;
  @include flex-center;
  @include center-block;
  width: 90%;
  text-align: center;
  h1 {
    max-width: 500px;
    margin: 35px auto;
  }
}

.share-container {
  font-weight: 700;
  @include center-block;
  width: 90%;
  padding: 30px 0;
  max-width: 1180px;
  @include font-size(1.25);
  h1.share-title {
    margin-right: 10px; 
    margin: 0;
  }
  button {
    margin: 5px 10px 5px 0px;
    color: $color__pink !important;
  }
}

div.blog-content-wrapper {
  width: 90%;
  @include center-block;
  @include flex-center-col-nowrap;
}
// ===== UI COMPONENTS ===== //
div.link-button {
  @include center-block;
  width: 175px;
  height: 45px;
  @include flex-center;
  background: $color__pink;
  border-radius: 25px;
  .link {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
}

div.lets-talk {
  background-color: $color__pink;
  color: #fff;
  text-align: center;
  padding: 50px 10px 10px;
  h1.big-font {
    max-width: 450px;
    margin: 0 auto;
    a {
      color: #000;
      cursour: pointer;
      text-decoration: none;
    }
  }
}

div.title-wrapper {
  width: 90%;
  @include center-block;
  max-width: 850px;
  text-align: center;
  h1.title {
  }
}

div.team-grid {
  @include flex-center-col-nowrap;
  div.team-wrapper {
    @include flex-center-col-nowrap;
    max-width: 350px;
    width: 80%;
    margin: 10px;
    img.employee {
      margin: 0;
      min-width: 280px;
      min-height: 280px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 5;
    }
    div.text-container {
      margin-top: 20px;
      text-align: left;
      width: 100%;
      h2.team-title {
          margin: 0;
      }
    }
  }
}

div.method-wrapper {
  width: 90%;
  padding-top: 30px;
  @include center-block;
  div.method-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    h2 {
      @include font-size(2.2);
      z-index: 2;
      width: 100%;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 10px 0;
        @include font-size(1.2);
        font-weight: 700;
      }
    }
  }
}

div.action-wrapper {
  padding: 30px 0;
  width: 100%;
  @include center-block;
  max-width: 1400px;

  div.action-container {
    margin: 50px 0;
    @include flex-center-col-nowrap;

    img.action-image {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
    div.text-container {
      padding: 10px 0;
      text-align: center;
      width: 90%;
      h3.action-title {
        @include font-size(2);
        &, p {
          margin: 20px 0;
        }
      }
    }
  }
}

// ====== Footer ======= //

footer.site-footer {
  background-color: $color__pink;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  .footer-container {
    padding: 40px 20px;
  }
  p {
    margin: 3px 0;
  }
  a {
    padding: 8px 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
  }
  div.about-us,
  div.contact-us,
  div.policy-links {
    @include flex-center-col-nowrap;
    margin: 20px auto;
    p.header {
      font-weight: 700;
      margin-bottom: 10px;
      @include font-size(1.1);
    }
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
    order: 1;
    margin: 0 auto 20px;
    a {
      font-size: 30px;
    }
  }
  .about-us {
    order: 2;
  }
  .contact-us {
    order: 3;
  }
  div.policy-links {
    order: 4;
  }
}
